.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
}

.form-signup {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 140px auto 150px auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
    height:650px;
}

.form-signup-heading {
    text-align:center;
    margin-bottom: 30px;
}

.signup-form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 308px;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 308px;
}

