<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
	<script language="javascript">
        $(document).ready(function() {

            $(".comment").shorten();

            $(".comment-small").shorten({showChars: 10});

        });
	</script>
	</div>
	<script type="text/javascript">
        (function($) {
            $.fn.shorten = function(settings) {
                "use strict";

                var config = {
                    showChars: 100,
                    minHideChars: 10,
                    ellipsesText: "...",
                    moreText: "Read More",
                    lessText: "less",
                    onLess: function() {},
                    onMore: function() {},
                    errMsg: null,
                    force: false
                };

                if (settings) {
                    $.extend(config, settings);
                }

                if ($(this).data('jquery.shorten') && !config.force) {
                    return false;
                }
                $(this).data('jquery.shorten', true);

                $(document).off("click", '.morelink');

                $(document).on({
                    click: function() {

                        var $this = $(this);
                        if ($this.hasClass('less')) {
                            $this.removeClass('less');
                            $this.html(config.moreText);
                            $this.parent().prev().animate({'height':'0'+'%'}, function () { $this.parent().prev().prev().show(); }).hide('fast', function() {
                                config.onLess();
                            });

                        } else {
                            $this.addClass('less');
                            $this.html(config.lessText);
                            $this.parent().prev().animate({'height':'100'+'%'}, function () { $this.parent().prev().prev().hide(); }).show('fast', function() {
                                config.onMore();
                            });
                        }
                        return false;
                    }
                }, '.morelink');

                return this.each(function() {
                    var $this = $(this);

                    var content = $this.html();
                    var contentlen = $this.text().length;
                    if (contentlen > config.showChars + config.minHideChars) {
                        var c = content.substr(0, config.showChars);
                        if (c.indexOf('<') >= 0) // If there's HTML don't want to cut it
                        {
                            var inTag = false; // I'm in a tag?
                            var bag = ''; // Put the characters to be shown here
                            var countChars = 0; // Current bag size
                            var openTags = []; // Stack for opened tags, so I can close them later
                            var tagName = null;

                            for (var i = 0, r = 0; r <= config.showChars; i++) {
                                if (content[i] == '<' && !inTag) {
                                    inTag = true;

                                    // This could be "tag" or "/tag"
                                    tagName = content.substring(i + 1, content.indexOf('>', i));

                                    // If its a closing tag
                                    if (tagName[0] == '/') {


                                        if (tagName != '/' + openTags[0]) {
                                            config.errMsg = 'ERROR en HTML: the top of the stack should be the tag that closes';
                                        } else {
                                            openTags.shift(); // Pops the last tag from the open tag stack (the tag is closed in the retult HTML!)
                                        }

                                    } else {
                                        // There are some nasty tags that don't have a close tag like <br/>
                                        if (tagName.toLowerCase() != 'br') {
                                            openTags.unshift(tagName); // Add to start the name of the tag that opens
                                        }
                                    }
                                }
                                if (inTag && content[i] == '>') {
                                    inTag = false;
                                }

                                if (inTag) { bag += content.charAt(i); } // Add tag name chars to the result
                                else {
                                    r++;
                                    if (countChars <= config.showChars) {
                                        bag += content.charAt(i); // Fix to ie 7 not allowing you to reference string characters using the []
                                        countChars++;
                                    } else // Now I have the characters needed
                                    {
                                        if (openTags.length > 0) // I have unclosed tags
                                        {
                                            //console.log('They were open tags');
                                            //console.log(openTags);
                                            for (j = 0; j < openTags.length; j++) {
                                                //console.log('Cierro tag ' + openTags[j]);
                                                bag += '</' + openTags[j] + '>'; // Close all tags that were opened

                                                // You could shift the tag from the stack to check if you end with an empty stack, that means you have closed all open tags
                                            }
                                            break;
                                        }
                                    }
                                }
                            }
                            c = $('<div/>').html(bag + '<span class="ellip">' + config.ellipsesText + '</span>').html();
                        }else{
                            c+=config.ellipsesText;
                        }

                        var html = '<div class="shortcontent">' + c +
                            '</div><div class="allcontent">' + content +
                            '</div><span><a href="javascript://nop/" class="morelink">' + config.moreText + '</a></span>';

                        $this.html(html);
                        $this.find(".allcontent").hide(); // Hide all text
                        $('.shortcontent p:last', $this).css('margin-bottom', 0); //Remove bottom margin on last paragraph as it's likely shortened
                    }
                });

            };

        })(jQuery);
	</script>
</head>
<body>
	<header th:replace="layout :: site-header"></header>

	<div th:fragment="content">

		<header id="gtco-header" class="gtco-cover" role="banner">
			<div class="container">
				<div class="row">
					<div class="slider_text col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>সেরা শিক্ষক মূল্যায়ন</h1>
								<h2 style="color: #A2FCFD;">
									মানুষ গড়ার কারিগরকে স্বীকৃতি দেবার একটি ছোট্ট প্রয়াস<a
										href="#" target="_blank"></a>
								</h2>
								<div class="boxed">
									<h4>আমি একজন</h4>
									<span> <a href="#"><input id="btn-teacher"
											type="button" value="শিক্ষক" /></a> <a href="#"><input
											id="btn-student" type="button" value="শিক্ষার্থী"></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" id="listed-institutes">
			<div class="container"></div>
		</div>
		<div class="container-fluid" id=teachersListView>
			<div class="container">
				<!-- Example row of columns -->
				<h4>মানুষ গড়ার সকল কারিগরবৃন্দ</h4>
				<div>
					<div class="row">
						<!--/*@thymesVar id="teacherList" type="aj"*/-->
						<div class="col-md-4" th:each="teacher : ${teacherList}" onload="">
							<!-- 	{id}(id=${user.id}) -->
							<img
								th:src="@{/user/avatar/image/{nameOfTeacher}(nameOfTeacher=${teacher.name})}"
								class="img-responsive" alt="" height="100px" width="150px" /> <br>


							<label th:text="${teacher.name}">...</label><br> <label
								th:text="${teacher.instituteName}">...</label><br> <label
								th:text="${teacher.aboutTeacher}">...</label><br> <form action="#" th:action="@{/voteCount/{nameAndIdOfTeacher}(nameAndIdOfTeacher=${teacher.name})}" th:method="post" ><input
								type="submit" value="ভোট করুন" class="btn btn-primary btn-sm" />&nbsp; &nbsp; <span><label th:text="${teacher.total}"></label></span>&nbsp; &nbsp;
								 <input type="submit"
								value="শেয়ার করুন" class="btn btn-primary btn-sm" />
								</form><br> <br>

						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<div class="container-fluid" id=postsListsView>
			<div class="container">
			<h4>স্মৃতিঅম্লান</h4>
			<div>
				<div class="row">
					<div class="col-md-6" th:each="post : ${postsList}">

						<b><h2><label th:text="${post.title}">...</label></h2></b><br>
						<div class="show-hide-text wrapper">
							<a  id="show-more" class="show-less" href="#show-less">Show less</a>
							<a  id="show-less" class="show-more" href="#show-more">Show more</a>
						<p th:text="${post.body}">...</p><br>
						</div>
							<label
							th:text="${post.email}">...</label><br> <input
							type="submit" value="Like" class="btn btn-primary btn-md" />&nbsp; &nbsp; <input type="submit"
							value="Share" class="btn btn-primary btn-md" /><br> <br>

					</div>
				</div>
			</div>
			<hr>
			</div>
		</div>

	</div>
	<footer th:replace="layout :: site-footer"></footer>
</body>
</html>