<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/before-layout :: site-head"></head>
<body>
	<header th:replace="layouts/before-layout :: site-header"></header>

	<div th:fragment="content">

		<header id="gtco-header" class="gtco-cover" role="banner">
			<div class="container">
				<div class="row">
					<div class="slider_text col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>সেরা শিক্ষক মূল্যায়ন</h1>
								<h2 style="color: #A2FCFD;">
									মানুষ গড়ার কারিগরকে স্বীকৃতি দেবার একটি ছোট্ট প্রয়াস<a
										href="#" target="_blank"></a>
								</h2>
								<div class="boxed">
									<h4>আমি একজন</h4>
									<span> <a href="#"><input id="btn-teacher"
											type="button" value="শিক্ষক" /></a> <a href="#"><input
											id="btn-student" type="button" value="শিক্ষার্থী"></a>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron" id="listed-institutes">
			<div class="container">
                <div style="">

                    <div style="padding-top:20px;">
                        <div id="thumbnail-slider">
                            <div class="inner">
                                <ul>
                                    <li>
                                        <a href="/">
                                <span class="thumb" style="background-image:url(img/1.jpg)">
                                    This slide demonstrates how to link the thumbnail image to another web page.
                                </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/BUET.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/du.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/ju.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/diu.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/iut.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/BUP_logo.jpg}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/AUST_logo.jpg}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/Jagannath_University_logo.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/khulna-university-logo-2.jpg}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/kuet.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/logo_8713.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/Logo_BUTex.svg.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/Logo_of_Islamic_University,_Bangladesh.jpg}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/NSU.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/NULOGO.jpg}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/SUB-Logo-with-name.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/sust.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/uap.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/UIU-Logo-250.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/University_of_Chittagong_logo.svg.png}"></a>
                                    </li>
                                    <li>
                                        <a class="thumb" th:href="@{/images/unilogos/WebHeaderEU_New.png}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                </div>
			</div>
		</div>
		<div class="container-fluid" id=teachersListView>
			<div class="container">
				<!-- Example row of columns -->
				<h4>মানুষ গড়ার সকল কারিগরবৃন্দ</h4>
				<div>
					<div class="row">
						<!--/*@thymesVar id="teacherList" type="aj"*/-->
						<div class="col-md-4" th:each="teacher : ${teacherList}" onload="">
							<!-- 	{id}(id=${user.id}) -->
							<img
								th:src="@{/user/avatar/image/{nameOfTeacher}(nameOfTeacher=${teacher.name})}"
								class="img-responsive" alt="" height="100px" width="150px" /> <br>


							<label th:text="${teacher.name}">...</label><br> <label
								th:text="${teacher.instituteName}">...</label><br> <label
								th:text="${teacher.aboutTeacher}">...</label><br> <form action="#" th:action="@{/voteCount/{nameAndIdOfTeacher}(nameAndIdOfTeacher=${teacher.name})}" th:method="post" ><input
								type="submit" value="ভোট করুন" class="btn btn-primary btn-sm" />&nbsp; &nbsp; <span><label th:text="${teacher.total}"></label></span>&nbsp; &nbsp;
								 <input type="submit"
								value="শেয়ার করুন" class="btn btn-primary btn-sm" />
								</form><br> <br>

						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<div class="container-fluid" id=postsListsView>
			<div class="container">
			<h4>স্মৃতিঅম্লান</h4>
			<div>
				<div class="row">
					<div class="col-md-6" th:each="post : ${postsList}">

						<b><h2><label th:text="${post.title}">...</label></h2></b><br>
						<p th:text="${post.body}">...</p><br>
							<label
							th:text="${post.email}">...</label><br> <input
							type="submit" value="Like" class="btn btn-primary btn-md" />&nbsp; &nbsp; <input type="submit"
							value="Share" class="btn btn-primary btn-md" /><br> <br>

					</div>
				</div>
			</div>
			<hr>
			</div>
		</div>

	</div>
	<footer th:replace="layouts/before-layout :: site-footer"></footer>
</body>
</html>